body{
    font-family: 'Neonderthaw', cursive;
}
.test-nav{
    position: fixed;
    width: 100%;
}

.header{
    height: 90vh;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,5), rgba(0,0,0,.2)) , url(https://scontent.fblr1-5.fna.fbcdn.net/v/t1.6435-9/49249074_1398386126965061_6755212601388433408_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=174925&_nc_ohc=5roN89ZpMf8AX9K8ZJD&_nc_ht=scontent.fblr1-5.fna&oh=00_AT908p2jYrZEYVl6pf7s35FHiQuyCl3bueiPbeJTy6vGBw&oe=6244B91E);
    color: white;
    background-size: cover;
    
}
.h-100{
    width: 100%;
    height: 100%;
}
.btn{
    border-radius: 6rem!important;
    padding: 1rem 1rem!important;
}
.section{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.myIcon{
    font-size: 30px;
}
.section-last{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.footer{
    background-color: black;
    color: white;
}